#clock {

    margin: 200px auto;
    height: 200px;
    width: 50%;
    padding: 20px 0;
    border: 4px solid rgb(38, 175, 50);
    background: rgb(39, 212, 62);
    font-size: 200px;

}

body {

    background: linear-gradient(0.25turn, #743b06, #43125f, #2825c5);

}

